{
  "name": "jdbc-sink-connector",
  "config": {
    "connector.class": "io.confluent.connect.jdbc.JdbcSinkConnector",
    "tasks.max": "1",
    "topics": "test",
    "connection.url": "jdbc:postgresql://host.docker.internal:5432/task",
    "connection.user": "task",
    "connection.password": "task",
    "insert.mode": "insert",
    "auto.create": "true",
    "auto.evolve": "true",
    "pk.mode": "none",
    "value.converter": "io.confluent.connect.avro.AvroConverter",
    "value.converter.schema.registry.url": "http://host.docker.internal:8081",
    "key.converter": "org.apache.kafka.connect.storage.StringConverter"
  }
}